.btn-category{
    border:  1px solid rgba(128, 128, 128, 0.326);
    margin-left: 30px;
}
.linkss{
    a{
        text-decoration: none;
        color: rgb(171, 171, 171);
        &:hover{
            color: rgb(88, 88, 88);
        }
    }
}

@media only screen and (max-width:992px) {
     .leftlogo_wrapp{
        flex-direction: column !important;
     }
    .btn-category{
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 150px !important;
    }
    .linkss{
        a{
            margin: 10px;
        }
    }
  
}
    @media only screen and (max-width:768px) {
        .linkss{
            display: none !important;
        }
       
      
    }

  
